__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
target/
.idea/
.vscode/
# project/static/avatars/*.png -> Removed to allow custom avatars
# project/static/avatars/*.jpg -> Removed to allow custom avatars
# Ignore local temp files
temp_capture.jpg
